.header{
    background: #480543;
    position: fixed;
    width: 100%;
    z-index: 3;
    font-family: 'Nunito', sans-serif;
}
input[type=checkbox],
.show-menu{
    display:none;
}
.menu{
    display:flex;
    width: 271.36px;
    margin: 20px auto;
    border-radius: 50px;
    list-style: none;
    background: #fff;
    text-align: center;
}
.menu li{
    display: inline-block;
    font-size: 14px;
}
.menu li a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #000;
    text-align: center;
    transition: .34s;
}
.menu li a:hover{
    background: #000;
    border-radius: 50px;
    color: #fff;
}
@media (max-width: 800px) {
    .header{
        position: relative;
        display: inline-block;
        background: #fff;
    }
    .icon-menu{
        width: 50px;
        background-image: url(../img/menu.png);
        background-size: cover;
    }
    .menu{
        display: block;
        position: fixed;
        border-top: none;
        border-radius: 0;
        width: 100%;
        z-index: -1;
        background: #fff0;
        margin: 0;
        top: -244px;
        transition: all .5s ease-out;
    }
    .show-menu{
        display:flex;
        cursor:pointer;
        justify-content:center;
        width: 100%;
        height: 50px;
        margin: auto;
    }
    input[type=checkbox]:checked ~ .menu{
        top: 48px;
    }
    .menu li{
        background: #fff;
        margin: 10px 0;
        display: block;
        border-bottom: none;
        float: none;
    }
}
/*CUERPO*/

body{
    background: -webkit-linear-gradient(left, #a78aff, #ff6d6d);
}
.principal{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient(left, #a78aff, #ff6d6d);
    font-family: 'Nunito', sans-serif;
}
.portada{
    height: auto;
    max-width: 100%;
}
.portada_b{
    position: relative;
    height: auto;
    max-width: 100%;
    filter: drop-shadow(2px 4px 6px black);
}
.contenedor{
    overflow: hidden;
    position: relative;
    padding: 0px 20px;
    width: 900px;
    margin-top: -8%;
}
.contenedor_prin{
    overflow: hidden;
    position: relative;
    padding: 0px 20px;
    width: 900px;
    margin-top: 60px;
}
.contenedor_user{
    overflow: hidden;
    position: relative;
    padding: 0px 20px;
    width: 600px;
    margin-top: 120px;
}
.contenedor_pub{
    overflow: hidden;
    position: relative;
    padding: 0px 20px;
    width: 600px;
    margin-top: 120px;
}
.contenedor_error{
    overflow: hidden;
    position: relative;
    padding: 0px 20px;
    width: 900px;
    height: 91.5vh;
    margin-top: 20px;
}
.div_perfil{
    width: 200px;
    margin: auto;
    display: flex;
}
.img_perfil{
    width: 200px;
    height: 200px;
    margin-top: 160px;
    border-radius: 100%;
    border: 5px solid #fff;
    object-fit: cover;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.30), 0 25px 20px rgba(0, 0, 0, 0.22);
    z-index: 2;
}
.contenido{
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.caja{
    width: 410px;
    padding: 20px;
    float: left;
    display: inline-block;
}
.caja_user{
    width: 410px;
    margin: auto;
    padding: 20px;
    display: block;
}
.caja_pub{
    width: 100%;
    padding: 20px;
    display: inline-block;
}
.caja_error{
    width: 410px;
    margin: auto;
    padding: 20px;
}
hr{
    height: 6px;
    background: linear-gradient(#a78aff, #ff6d6d);
}
.sub, .sub_error{
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
p{
    text-align: justify;
    margin-top: 20px;
    font-size: 20px;
}
.pub_p{
    text-align: center;
    font-size: 16px;
    margin-top: 0px;
}
.caja .p_perfil{
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.30), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.caja_user .p_perfil{
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.30), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.boton{
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 50px;
    font-family: 'Nunito', sans-serif;
    background: -webkit-linear-gradient(left, #b34fff, #ff2c4f);
}
.boton:hover{
    background: -webkit-linear-gradient(left, #5f00a7, #b7001e);
}
.boton a {
    color: #fff;
    text-decoration: none;
}
.logo{
    width: 210px;
}
.logdiv{
    width: 230px;
    padding: 10px;
    margin: auto;
    align-items: center;
}
.imgbanner_error{
    margin: auto;
    width: 120px;
}
.banner_error{
    width: 120px;
}
.imgbanner{
    margin: auto;
    width: 320px;
}
.banner{
    width: 320px;
}

/*FOOTER*/

footer{
    width: 100%;
}
.container-footer-all{
    width: 860px;
    margin: auto;
}
.contenido-footer{
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.container-body{
    display: flex;
    justify-content: space-between;
}
.colum-prin{
    width: 100%;
    padding: 20px;
    float: left;
    display: inline-block;
}
.colum{
    width: 390px;
    padding: 20px;
    float: left;
    display: inline-block;
}
.row{
    float: left;
    margin-bottom: -10px;
}
.row img{
    width: 80px;
    float: left;
    padding: 20px;
}
.row p{
    font-size: 16px;
    display: flex;
    padding: 10px;
}
.container-footer{
    width: 100%;
    background: #101010;
}
.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.copyright{
    color: #C7C7C7;
}
.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.information a{
    text-decoration: none;
    color: #C7C7C7;
}
@media screen and (max-width: 920px){
    .contenedor{
        width: 600px;
    }
    .contenedor_prin, .contenedor_user, .contenedor_pub{
        width: auto;
        display: grid;
    }
    .caja, .caja_user, .caja_pub{
        width: 100%;
    }
    .caja_error{
        width: 100%;
    }
    .imgbanner, .imgbanner_error{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-footer-all{
        width: 100%;
    }
    .colum{
        width: 100%;
    }
    h1{
        font-size: 46px;
    }
    p{
        font-size: 14px;
    }
    .row p{
        font-size: 14px;
    }
    .information a{
        font-size: 14px;
    }
    .copyright{
        font-size: 14px;
    }
    .copyright a{
        font-size: 14px;
    }
}
@media screen and (max-width: 430px){
    .fech{
        width: 100%;
    }
    .fech h3{
        font-size: 14px;
    }
    .logdiv{
        width: 100%;
    }
    .logo{
        width: 100%;
    }
    .imgbanner, .imgbanner_error{
        width: 100%;
    }
    .banner{
        width: 100%;
    }
    .sub_error{
        font-size: 24px;
    }
    .row{
        width: 100%;
        display: inline-grid;
    }
    .row img{
        width: 100px;
        margin: auto;
    }
    .row p{
        text-align: center;
        display: block;
    }
    .caja .p_perfil{
        font-size: 14px;
    }
    label{
        display: inline;
    }
    .aviso{
        display: inline;
    }
    label span{
        padding: 20px;
        display: block;
    }
    label .error_span{
        padding: 0px;
        display: block;
    }
    button{
        width: 100%;
    }
    .sub_expand:hover{
        width: 100%;
    }
    .sub_expand{
        height: 60px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .h2_expand{
        font-size: 20px;
        padding: 10px;
    }
}
