*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.contenedor_b{
    overflow: hidden;
    position: relative;
    padding: 0 20px;
    width: 600px;
    margin-top: -8%;
}
input, button{
    border:none;
    outline: none;
    background: none;
}
.form{
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
h1{
    width: 100%;
    font-size: 100px;
    text-align: center;
}
h2{
    width: 100%;
    font-size: 30px;
    text-align: center;
}
.fech{
    width: 190px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
}
label{
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}
.coment{
    display: block;
    width: 100%;
    overflow: auto;
    max-height: 450px;
    margin: 25px auto 0;
    text-align: center;
}
label span{
    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-transform: uppercase;
}
label .spanCom{
    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-transform: uppercase;
    padding-bottom: 20px;
    display: block;
}
.aviso{
    display: block;
    width: 260px;
    color: #f00;
    margin: 25px auto 0;
    text-align: center;
    text-shadow: 0 5px 5px rgba(255, 0, 0, 0.30), 0 5px 6px rgba(255, 0, 0, 0.22);
}
.aviso_pub{
    display: block;
    width: 260px;
    color: #f00;
    margin: auto;
    text-align: center;
    text-shadow: 0 5px 5px rgba(255, 0, 0, 0.30), 0 5px 6px rgba(255, 0, 0, 0.22);
}
input{
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
select{
    display: block;
    margin: auto;
    margin-top: 5px;
    font-size: 16px;
    padding: 5px;
    border-radius: 50px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
button{
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.boton_com{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background: -webkit-linear-gradient(left, #b34fff, #ff2c4f);
}

/*FILE*/

:root {
    --color-shadow-btn-active: rgba(0, 0, 0, .3);
    --color-border-field: rgb(200, 200, 200);
}
.input-file {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.input-file__input {
    display: none;
}

.input-file__btn {
    padding: 6px 12px;
    border-radius: 17px;
}
.input-file__field{
    height: 34px;
    padding: 6px 12px;
    border-radius: 17px;
}

.input-file__btn {
    background: -webkit-linear-gradient(left, #b34fff, #ff2c4f);
    color: white;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
}

.input-file__btn:hover {
    background: -webkit-linear-gradient(left, #5f00a7, #b7001e);
}

.input-file__btn:active {
    -webkit-box-shadow: 0 3px 5px var(--color-shadow-btn-active) inset;
    box-shadow: 0 3px 5px var(--color-shadow-btn-active) inset;
}

.input-file__field {
    border: 1px solid var(--color-border-field);
    margin: auto;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden
}

.input-file--reverse .input-file__field {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 0;
}

@media screen and (max-width: 575px) {
    .input-file__field {
        width: 100%;
    }
    .input-file--reverse {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

/*END FILE*/

.boton_b{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.30), 0 5px 7px rgba(0, 0, 0, 0.22);
    transition: 0.3s;
    font-family: 'Nunito', sans-serif;
    background: #fff;
}
.boton_b:hover{
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.boton_b a{
    color: #000;
    text-decoration: none;
}
.boton_b a:hover{
    text-decoration: underline;
}
.submit{
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background: -webkit-linear-gradient(left, #b34fff, #ff2c4f);
}
.submit:hover{
    background: -webkit-linear-gradient(left, #5f00a7, #b7001e);
}
.submit_com{
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background: -webkit-linear-gradient(left, #b34fff, #ff2c4f);
}
.submit_com:hover{
    background: -webkit-linear-gradient(left, #5f00a7, #b7001e);
}
.submit_com_re{
    float: right;
    text-transform: uppercase;
    width: 120px;
    height: 28px;
    margin-top: -28px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background: -webkit-linear-gradient(left, #b34fff, #ff2c4f);
}
.forgot-pass{
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #0c0101;
    cursor: pointer;
}
.forgot-pass:hover{
    color: red;
}
.social-media{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.social-media ul{
    list-style: none;
}
.social-media ul li{
    display: inline-block;
    cursor: pointer;
    margin: 25px 15px;
}
.social-media img{
    width: 40px;
    height: 40px;
}

/*EXPANDIR*/

.sub_expand{
    width: 100%;
    margin: auto;
    text-align: center;
    cursor: pointer;
    background: -webkit-linear-gradient(left, #b34fff45, #ff2c4f36);
    border-radius: 50px;
    transition: .3s;
}
.sub_expand:hover{
    background: -webkit-linear-gradient(left, #b34fff, #ff2c4f);
    color: #fff;
    width: 90%;
}
.containerTab{
    padding: 20px;
    color: #000;
}
.h2_expand{
    width: 100%;
    font-size: 30px;
    text-align: center;
}
/* Clear floats after the columns */
.expand:after{
    content: "";
    display: table;
    clear: both;
}

/* Closable button inside the container tab */
.closebtn{
    float: right;
    color: #000;
    font-size: 35px;
    cursor: pointer;
}
/*VENTANA EMERGENTE*/
.overlay {
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;

    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup .btn-cerrar-popup {
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .1s ease all;
    color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
    color: #000;
}

.popup h3 {
    font-size: 24px;
    background: #f00;
    color: #fff;
    width: 200px;
    margin: auto;
    border-radius: 50px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}

.popup h4 {
    font-weight: 300;
    padding: 10px;
    opacity: 0;
}

.popup form .contenedor-inputs {
    opacity: 0;
}

.popup form .contenedor-inputs input {
    margin-bottom: 20px;
    font-size: 18px;
}

.popup form .btn-submit {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .1s ease all;
}

.popup form .btn-submit:hover {
    background: rgba(94,125,227, .9);
}
.fa-times{
    font-style: normal;
}
/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .4s ease .2s forwards; }
.popup.active h4 { animation: entradaSubtitulo .1s ease .1s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 0s linear 0s forwards; }

@keyframes entradaTitulo {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from { opacity: 0; }
    to { opacity: 1; }
}
